@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,200&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-comfortaa: "Comfortaa", cursive;
  --font-righteous: "Righteous", cursive;
  --font-karla: "Karla", sans-serif;
  --clr-moccha: rgb(51, 37, 18);
  --clr-darkgrey: rgb(29, 28, 27);
  --clr-lightgrey: rgb(189, 181, 169);
}

html {
  scroll-behavior: smooth;
}

.page {
  background: var(--clr-darkgrey);
  position: relative;
  z-index: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0px 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: 100;
  background: var(--clr-darkgrey);
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
}
header .logo i {
  font-size: 0.75rem;
  color: #FFF;
}
header .logo img {
  height: 35px;
  width: 35px;
  margin-left: 12px;
}
header .btn {
  background: none;
  border: none;
  color: var(--clr-lightgrey);
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
}

nav {
  width: 0;
  height: 100%;
  position: fixed;
  top: 10vh;
  left: 0;
  overflow: hidden;
  z-index: 100;
  max-width: 100%;
  transition: 200ms all ease-in;
  background: var(--clr-darkgrey);
}
nav h6 {
  font-size: 2rem;
  color: var(--clr-darkgrey);
  text-shadow: 4px 2px 4px var(--clr-lightgrey);
  font-family: var(--font-righteous);
  font-weight: bolder;
  margin-top: 25px;
  margin-bottom: 25px;
  text-transform: capitalize;
  text-align: center;
}
nav .text {
  color: #FFF;
  font-family: var(--font-comfortaa);
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 25px;
}
nav .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  padding: 10px;
}
nav .items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}
nav .items:hover {
  background: var(--clr-lightgrey);
}
nav .items:hover a {
  color: var(--clr-lightgrey);
  text-shadow: 4px 2px 4px var(--clr-darkgrey);
}
nav a {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: var(--font-righteous);
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: var(--clr-darkgrey);
  text-shadow: 4px 2px 4px var(--clr-lightgrey);
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin-bottom: 50vh;
  background: var(--clr-lightgrey);
}
section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100%;
}
section .elmnts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  background: var(--clr-lightgrey);
  z-index: 1;
}
section h1 {
  color: var(--clr-lightgrey);
  font-family: var(--font-righteous);
  font-size: 8rem;
  line-height: 0.9;
  position: fixed;
  top: 25%;
  left: 5%;
  text-shadow: 4px 2px 4px var(--clr-darkgrey);
  text-transform: uppercase;
}
section h2 {
  color: var(--clr-lightgrey);
  font-family: var(--font-righteous);
  font-size: 3.75rem;
  margin-top: 50px;
  text-shadow: 4px 2px 4px var(--clr-darkgrey);
  text-transform: uppercase;
  z-index: 1;
  text-align: center;
}
section h3 {
  color: var(--clr-lightgrey);
  font-family: var(--font-righteous);
  font-size: 3.25rem;
  letter-spacing: 0.2rem;
  margin-bottom: 50px;
  margin-top: 75px;
  text-shadow: 4px 2px 4px var(--clr-darkgrey);
  text-transform: uppercase;
}
section h4 {
  color: var(--clr-lightgrey);
  font-family: var(--font-righteous);
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-bottom: 25px;
  padding-top: 25px;
  text-shadow: 4px 2px 4px var(--clr-darkgrey);
  text-transform: uppercase;
}
section h5 {
  color: var(--clr-lightgrey);
  text-shadow: 4px 2px 4px var(--clr-darkgrey);
  font-family: var(--font-righteous);
  font-size: 1.75rem;
  font-weight: bolder;
  margin-top: 25px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
section .text-wrapper {
  width: 100%;
  z-index: -1000;
  background: var(--clr-darkgrey);
  border-radius: 10px;
}
section .text {
  font-size: 0.95rem;
  line-height: 1.6;
  position: relative;
  padding: 25px;
  text-align: center;
  font-family: var(--font-comfortaa);
  color: #FFF;
  z-index: 1000;
}
section .img-landing {
  position: absolute;
  left: 75%;
  top: 85%;
  transform: translate(-75%, -35%);
  max-height: 250px;
  display: none;
}
section .img-introduction {
  position: fixed;
  left: 50%;
  top: 75%;
  transform: translate(-50%, 30%);
  max-height: 200px;
  z-index: 200;
  z-index: 150;
}

#landing article {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#landing .btn-landing {
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2%;
  right: 10%;
  height: 80px;
  width: 50px;
  text-transform: uppercase;
}
#landing .btn-landing a {
  color: var(--clr-moccha);
  font-family: var(--font-righteous);
  text-align: center;
  text-decoration: none;
}
#landing .btn-landing i {
  height: 100%;
  width: 100%;
  font-size: 2.95rem;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition: 300ms all ease-in;
}

#information .list {
  width: 100%;
  border: 2px solid #000;
  padding: 0px 5px;
  background: var(--clr-darkgrey);
}
#information .list .items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
  font-family: var(--font-comfortaa);
  font-size: 1.15rem;
  list-style-type: none;
  text-transform: capitalize;
  width: 100%;
}
#information .list .items:nth-child(1) {
  margin-top: 25px;
}
#information .list .items:last-child {
  margin-bottom: 25px;
}
#information .list span {
  width: 100%;
  margin-bottom: 10px;
}
#information .list .day {
  font-size: 1rem;
  text-align: left;
}
#information .map {
  height: 250px;
  width: 100%;
  border: 2px solid #000;
  position: relative;
}
#information .address {
  background: #FFF;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: darkslategray;
  text-decoration: underline;
  margin-top: 10px;
  padding: 2px 5px;
  font-size: 1.1rem;
}
#information .address i {
  border: 2px solid var(--clr-lightgrey);
}

#gallery .list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
  padding: 10px;
  position: relative;
  height: 100vh;
  width: 100%;
  border: 2px solid #000;
}
#gallery .list .items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
#gallery .list img {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

#introduction article, #information article, #gallery article {
  position: relative;
  z-index: 4;
}

/*
    main component

    contains
        - h3 [ title ]
        - ul [ filter ]
            - li [ items ]
        - ul [ gallery ]
            - li [ panels ]
*/
main {
  background: var(--clr-lightgrey);
  padding: 10px;
  position: relative;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50vh;
}
main article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100%;
  z-index: 5;
}
main .elmnts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: var(--clr-lightgrey);
  z-index: 3;
}
main h3 {
  color: var(--clr-lightgrey);
  font-family: var(--font-righteous);
  font-size: 3.25rem;
  letter-spacing: 0.2rem;
  padding-bottom: 25px;
  text-shadow: 4px 2px 4px var(--clr-darkgrey);
  text-transform: uppercase;
  margin-top: 75px;
}
main .text-wrapper {
  width: 100%;
  z-index: -1000;
  background: var(--clr-darkgrey);
  border-radius: 10px;
  margin-bottom: 25px;
}
main .text {
  font-size: 0.95rem;
  line-height: 1.6;
  position: relative;
  padding: 25px;
  text-align: center;
  font-family: var(--font-comfortaa);
  color: #FFF;
  z-index: 1000;
}
main .filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50px, auto);
  gap: 10px;
  margin-bottom: 25px;
  margin-top: 25px;
  width: 100%;
}
main .filter .items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background: transparent;
  color: var(--clr-darkgrey);
  border: 2px solid var(--clr-darkgrey);
  border-radius: 8px;
  font-family: var(--font-comfortaa);
  font-weight: bold;
  text-transform: capitalize;
  transition: all 230ms ease-in;
}
main .filter .active {
  transition: all 120ms ease-in-out;
  background: var(--clr-darkgrey);
  color: #FFF;
}
main .gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(85px, auto);
  gap: 10px;
  height: 100%;
  width: 100%;
  border: 2px solid var(--clr-darkgrey);
  padding: 10px;
}
main .gallery .panels {
  animation-name: center;
  animation-duration: 1s;
  animation-iteration-count: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--clr-darkgrey);
  color: #FFF;
  border: 2px solid var(--clr-darkgrey);
}
main .gallery img {
  margin-top: 10px;
  height: 85px;
  max-width: 75px;
}
main .gallery .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  text-transform: capitalize;
  font-family: var(--font-comfortaa);
  width: 100%;
}
main .gallery .text span {
  width: 100%;
}
main .gallery .text .name {
  font-size: 0.85rem;
  font-weight: bold;
  text-decoration: underline;
}
main .gallery .text .cost {
  font-size: 1rem;
  font-weight: bold;
}

/*
    footer component

    contains 
        - article [ article ]
        - layout [ elmnts ]
        - ul [ list ]
        - li [ items ]
        - a [ links ]
*/
footer {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  position: relative;
  background: var(--clr-lightgrey);
}
footer article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  height: 100vh;
  width: 100%;
  z-index: 1;
}
footer .elmnts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}
footer .elmnts:last-child {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 25px;
}
footer .list {
  display: flex;
  width: 100%;
}
footer .items {
  width: 100%;
  list-style-type: none;
  font-size: 2rem;
  text-align: center;
}
footer a {
  color: #FFF;
  text-shadow: -2px 10px 22px var(--clr-moccha);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  transition: 200ms all ease-in;
  background: var(--clr-darkgrey);
  z-index: 200;
}
.modal .btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid var(--clr-lightgrey);
  border-radius: 5px;
}
.modal i {
  color: var(--clr-lightgrey);
  font-size: 1.25rem;
}
.modal h5 {
  color: var(--clr-lightgrey);
  text-shadow: 4px 2px 4px var(--clr-darkgrey);
  font-family: var(--font-righteous);
  font-size: 1.75rem;
  font-weight: bolder;
  margin-top: 25px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.modal img {
  border-radius: 10px;
  object-fit: cover;
  height: 400px;
  width: 100%;
}
.modal .text {
  padding-top: 25px;
  color: #FFF;
  font-size: 1.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  text-decoration: underline;
  font-style: italic;
}

main, #gallery, #information {
  padding-top: 100px;
  padding-bottom: 100px;
}

h1 {
  color: var(--clr-lightgrey);
  font-family: var(--font-righteous);
  font-size: 8rem;
  line-height: 0.9;
  position: fixed;
  top: 25%;
  left: 5%;
  text-shadow: 4px 2px 4px var(--clr-darkgrey);
  text-transform: uppercase;
  z-index: 2;
}

.img-fixed {
  position: fixed;
  left: 50%;
  top: 75%;
  transform: translate(-50%, 30%);
  max-height: 200px;
  z-index: 200;
  z-index: 3;
}

.desktop {
  display: none;
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes center {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0px);
  }
}
/*
    media query [ tablet ]

    assign sections display props from [ flex - grid ] or [ flex = row ]

*/
@media (min-width: 760px) {
  .mobile {
    display: none;
  }

  section article, footer article {
    flex-direction: row;
  }

  main .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  main .gallery .panels {
    background: var(--clr-darkgrey);
    color: #FFF;
    border-radius: 10px;
  }
}
/*
    media query [ laptop ]

    assign main ul list display props from [ grid col = 2 ] to [ grid col = 3 ]

*/
@media (min-width: 900px) {
  .desktop {
    display: flex;
  }

  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .page header, .page section, .page main, .page footer {
    max-width: 1920px;
  }

  main .gallery .panels {
    background: var(--clr-moccha);
  }
  main .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*# sourceMappingURL=index.css.map */
