@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Staatliches&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-staat: "Staatliches", cursive;
  --font-condensed: "Open Sans Condensed", sans-serif;
  --clr-cream: rgb(223, 180, 141);
  --clr-peach: rgb(214, 143, 115);
  --clr-moccha: rgb(104, 81, 50);
  --clr-darkgrey: rgb(29, 28, 27);
}

.desktop {
  display: none;
}

body {
  min-height: 100vh;
  height: 100%;
}

.page {
  background: var(--clr-cream);
  background: var(--clr-darkgrey);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0px 15px;
}
header .logo {
  border: 1px solid #FFF;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}
header .btn {
  background: none;
  border: none;
  color: #FFF;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
}

nav {
  display: none;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  position: relative;
  margin-bottom: 20vh;
  border: 2px solid orangered;
}
section article {
  position: relative;
  height: 100%;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid darkblue;
}
section .elmnts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 10px;
  border: 2px solid limegreen;
}
section h1 {
  font-size: 12rem;
  text-transform: uppercase;
  position: fixed;
  line-height: 0.9;
  top: 15%;
  left: 12%;
  font-family: var(--font-staat);
  color: #FFF;
  border: 2px solid orangered;
}
section h2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 3rem;
  text-transform: uppercase;
  border-bottom: 3px solid #FFF;
  z-index: 1;
  color: #FFF;
}
section h3 {
  font-size: 2.1rem;
  margin-left: 10px;
  text-transform: capitalize;
  color: #FFF;
}
section h4 {
  font-size: 2rem;
  color: #FFF;
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
section .text {
  font-size: 1.15rem;
  line-height: 1.6;
  margin-left: 10px;
  margin-top: 25px;
  color: #FFF;
  font-family: var(--font-condensed);
}
section .img-landing {
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 300px;
}
section .img-information {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  max-height: 300px;
}
section .list {
  width: 100%;
  border: 2px solid #000;
}
section .list .items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
  font-family: var(--font-condensed);
  font-size: 1.35rem;
  list-style-type: none;
  text-transform: capitalize;
  width: 100%;
}
section .list .items:nth-child(1) {
  margin-top: 25px;
}
section .list .items:last-child {
  margin-bottom: 25px;
}
section .list span {
  width: 100%;
}
section .map {
  height: 250px;
  width: 100%;
  border: 2px solid #000;
  position: relative;
}
section .address {
  background: #FFF;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: darkslategray;
  text-decoration: underline;
  margin-top: 10px;
  padding: 2px 5px;
  font-size: 1.1rem;
  font-family: var(--font-staat);
}
section .address i {
  border: 2px solid red;
}

#landing {
  background: var(--clr-moccha);
}

#introduction {
  background: var(--clr-darkgrey);
}

#information {
  background: var(--clr-darkgrey);
}

main {
  background: var(--clr-darkgrey);
  background: #FFF;
  padding: 25px;
  margin-bottom: 20vh;
  position: relative;
  z-index: 1;
  border: 2px solid orangered;
}
main h3 {
  font-size: 2.1rem;
  color: #000;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  margin-bottom: 25px;
  margin-left: 25px;
  padding-top: 25px;
  max-width: 95px;
  border-bottom: 2px solid #000;
}
main .filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50px, auto);
  gap: 10px;
  padding: 10px;
  width: 100%;
  background: lightcoral;
}
main .filter .items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  border: 2px solid red;
}
main .gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(85px, auto);
  gap: 10px;
  padding: 10px;
  border: 2px solid red;
}
main .gallery .panels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid #000;
  animation-name: center;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
main .gallery img {
  height: 85px;
  max-width: 75px;
}
main .gallery .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: var(--font-staat);
  font-size: 0.95rem;
  margin-top: 10px;
  text-align: center;
  border: 2px solid orangered;
}
main .gallery .text span {
  border: 2px solid limegreen;
  width: 100%;
}
main .list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
  padding: 10px;
  position: relative;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  background: var(--clr-darkgrey);
  border: 2px solid darkblue;
}
main .list .items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 2px solid orangered;
}
main .list img {
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

footer {
  background: var(--clr-moccha);
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  position: relative;
  border: 2px solid orangered;
}
footer article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  height: 100vh;
  width: 100%;
  background: var(--clr-moccha);
  border: 2px solid darkblue;
}
footer .elmnts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  border: 2px solid limegreen;
}

.hide-image {
  display: none;
}

.show-image {
  display: flex;
}

@keyframes center {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0px);
  }
}
/*
    media query [ tablet ]

    assign sections display props from [ flex - grid ] or [ flex = row ]

*/
@media (min-width: 760px) {
  .mobile {
    display: none;
  }

  section article, footer article {
    flex-direction: row;
  }

  main .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*
    media query [ laptop ]

    assign main ul list display props from [ grid col = 2 ] to [ grid col = 3 ]

*/
@media (min-width: 900px) {
  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .page header, .page section, .page main, .page footer {
    max-width: 1920px;
  }

  main .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*# sourceMappingURL=index.css.map */
